<div id="wrapContent">

    <div id="wrapperContact">
        
        <div class="spacer">
            
        </div>
        <div id="contactinfo">
            Judith Tolman MSW-LCSW<br />
            Licensed Clinical Therapist <br />
            Individual/Couples/Family/Groups <br /><br />
            EMAIL: lifecoach@judithtolman.com<br />
            PHONE: (702)612-4521<br />
        </div>
        <div class="spacer">
            
        </div>
        <div id="contactform">
            <form id="contact">
                <h2 id="contactTitle">Contact Me by Email</h2>
                <input type="text" placeholder="What is your first Name?"><br /><br />
                <input type="text" placeholder="What is your Last Name?"> <br /><br />
                <input type="email" placeholder="Please enter your email address"><br /><br />
                <input type="number" placeholder="Enter your phone number (7025554444)"> <br /><br />
                <button id="contactBtn">Submit information</button>
            </form>
        </div>
    </div>
</div>