<div id="wrapContent">

  <img
  id="judypic"
  src="images/judy.jpg"
  style="border: 5px solid #440202; border-radius: 15px;"
  alt="Judith Tolman"
  />
  <p id="mainp">
    Hi I am Judith Tolman, I am experienced and caring in helping individuals deal
    more effectively with mental health issues and life challenges. I believe in
    families and can find insights and paths to healing, from issues with self,
    relationships, life transitions, to faith and spirituality concerns. By
    applying complementary therapy approaches and techniques, together we can
    discover long-standing behavior patterns or negative perceptions that
    interfere with finding a new and happier direction for your life.
  </p>
  <h3 class="mainHeaders">A Little About Me</h3>
  <p>
    Judith Tolman received her Bachelors and Masters Degrees from the University
    of Nevada, Las Vegas, majoring in Social Work, Direct Practice. She received
    two scholarships granted to non-traditional students for her dedication to her
    educational goals and commitment to academic excellence. Judith is a Licensed
    Clinical Therapist (LCSW), and works with Individuals, Couples, Families, and
    Groups. She and her husband have 6 children and 7 grandchildren, who bring her
    laughter, joy, and love. She has a long history of dedication to her family,
    Church, and community.​
  </p>
  <table width="100%">
    <tr>
      <th>Education:</th>
      <th>Honors:</th>
      <th>Associations:</th>
    </tr>
    <tr>
      <td width="40%">
        <ul>
          <li>Community College of Southern Nevada</li>
          <li>Univerity of Nevada, Las Vegas</li>
          <li>Montana State University</li>
          <li>
            Post Graduate training in Treatment of Addictions, Loss and Grief,
            Therapeutic Groups, Trauma and Abuse, Children’s Mental Health and
            Attachment Issues, and Women’s issues.
          </li>
        </ul>
      </td>
      <td width="30%">
        <ul>
          <li>Who’s Who in Junior Colleges</li>
          <li>Dean’s Honor List – all Colleges & Universities</li>
          <li>The National Scholar’s Honor Society</li>
          <li>Phi Alpha Honor Society</li>
        </ul>
      </td>
      <td width="30%">
        <ul>
          <li>The National Association of Social Workers (NASW)</li>
          <li>Association of Mormon Counselors and Psychotherapists</li>
          <li>United Providers of Mental Health</li>
          <li>
            EMDRIA approved EMDR (Eye Movement Desensitization and Reprocessing)
            Therapist
          </li>
        </ul>
      </td>
    </tr>
  </table>
  
  <button id="helpnow">If you are you in need of <strong>Help Now</strong> click here.</button>
</div>
<script>
  document.getElementById("helpnow").addEventListener("click", function(){
    $('#rightbox').load('needhelp.html');
  });
</script>