<div id="wrapContent">

  <img id="judypic" src="images/roads.jpg"  style="border: 5px solid #440202; border-radius: 15px;"
    alt="Judith Tolman">
  <p id="mainp">As your life coach I will help you identify your goals and develop an actionable plan to achieve them.
    I will help you grow by analyzing your current situation, identifying limiting beliefs and other potential
    challenges
    and obstacles
    you face and will help you devise a custom plan of action to help you achieve specific outcomes in your life.</p>
  I will help you:
  <ul>
    <li>identify, clarify and create a vision for what you want</li>
    <li>use my expertise to modify goals as needed</li>
    <li>encourage your self-discovery and growth</li>
    <li>Nuture and evoke strategies and a plan of action based on what fits best with your goals, personality and
      vision.
    </li>
  </ul>
</div>