<div id="wrapContent">

    <h2>Do you need Help Now?</h2>
    <p>If you are in crisis, and need immediate help, please call 911
        or go to the Emergency Room of your nearest hospital. You
        can also click oon any of the images below to be redirected from
        my page to one of the helplines.
    </p>
    <table id="emergencytable" style="width:100%;">
            <tr>
                <th>
                    24-Hour Crisis Hotline
                </th>
                <th>
                    The National Suicide Prevention Lifeline
                </th>
                <th>
                    The Rape Crisis Center – Serving Southern Nevada
                </th>
            </tr>
            <tr>
                <td class="tblimages">
                    <a href="https://cssnv.org/"><img src="images/24hournevadahotline.jpeg"></a>
                </td>
                <td class="tblimages">
                    <a href="https://suicidepreventionlifeline.org/"><img src="images/nspl.png"></a>
                </td>
                <td class="tblimages">
                    <a href="http://www.therapecrisiscenter.org/"><img src="images/rapecc.jpeg"></a>
                </td>
            </tr>
            
        </table>
    </div>