@import url('https://fonts.googleapis.com/css?family=Condiment|Homenaje&display=swap');

* {
    box-sizing: border-box;
  }
#wrapper {
    
    width: 100%;
    height: 900px;
}
#header {

    background-image: linear-gradient(to right, #ED2863, #A10B39 );
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Homenaje', sans-serif;
    border: 2px solid black;
}
#title {
    width: 30%;
    color: white;
    margin: 0 auto;
    
    font-size: 420%;
}
#creds {
    font-size: 30%;
}
#main {
    width: 100%;
    height: 800px;
    display: flex;
}
#leftbox {
    display: flex;
    flex-flow: wrap;
    height: 800px;
    width: 20%;
    text-align: center;
    align-content: center;
    background-image: linear-gradient(to right, #A10B39, #ED2863);
    font-size: 40px;
    color: #ffffff;
}

#mnuHome {
    display: flex;
    height: 25%;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
    
}
#mnuLife {
    height: 25%;
    width: 100%;
    border-bottom: 2px solid black;
    display:flex;
    justify-content: center;
    align-items: center;
}
#mnuTherapy {
    height: 25%;
    width: 100%;
    border-bottom: 2px solid black;
    display:flex;
    justify-content: center;
    align-items: center;
}
#mnuContact {
    height: 25%;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
#helpnow {
    background-color: inherit;
    border: none;
    cursor: pointer;
    font-size: 23px;
}
#helpnow:hover {
    background-color: #ED2863;
    color: white;
}
.btnMenu {
    background-color: inherit;
    border: none;
    height: 100%;
    width: 100%;
    display: block;
    color: white;
    font-size: 50px;
    cursor: pointer;
    font-family: 'Condiment', cursive;
    border-radius: 10px;
    position: relative;
    z-index: 0;
}
.btnMenu:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
.btnMenu:active {
    color: #000
}

.btnMenu:active:after {
    background: transparent;
    color: #7a00ff;
}

.btnMenu:hover:before {
    opacity: 1;
}

.btnMenu:after {
    z-index: -1;
    content: '';
    position: absolute;
    
    background: inherit;
    left: 0;
    top: 0;
    border-radius: 10px;
}




#rightbox {
    height: 800px;
    width: 80%;
    background-image: linear-gradient(to bottom right, #E0E0E0, #D4D4D4);
    font-family: 'Homenaje', sans-serif;
    font-size: 23px;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    overflow: auto;
    padding-right: 5px;
}
#wrapContent{
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#judypic {
    width: 20%;
    margin: 5px;
    float: left;
}
#therapypic {
    width: 40%;
    margin: 5px;
    float: left;
}
ul {
    
    margin-left: 1em;
}
ul li {
    position: relative;
    left: 1em;
    padding-right: 1em;    
}​
table{
    border: 0px;
}

#contactform {
    margin: 0 auto;
    border: 5px solid #fa292A;
    border-radius: 10px;
    padding-top: 10px;
    height: 50%;
    width: 65%;
    background-color:inherit;
    font: size 40px;
    color: #CB2D6F;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
}
#contactinfo{
    margin: 0 auto;
    padding-top: 10px;
    padding-left: 50px;
    height: 35%;
    width: 65%;
    background-color: inherit;
    font-size: 40px;
    text-align: center;
    color: #CB2D6F;
    border: 5px solid #fa292A;
    border-radius: 10px;

}
input {
    font-size: 20px;
    width: 85%;
    padding-left: 40px;
}
#contactBtn {
    font-size: 30px;
    width: 80%;
}
.spacer {
    height: 20px;
}
#contactTitle {
    font-size: 40px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
} 
@media screen and (max-width: 375px) {
    #title {
        font-size: 160%;
    }
    .btnMenu {
        font-size: 15px;
    }
    #rightbox {
        font-size: 15px;
        padding-left: 5px;
    }
    #contactinfo {
        width: 100%;
        font-size: 15px;
    }
    #contactform {
        width: 100%;
        font-size: 15px;
    }
    input {
        font-size: 10px;
    }
    #contactBtn {
        font-size: 15px;
    }
    #contactTitle {
        font-size: 24px;
    }
}
@media screen and (min-width: 376px) and (max-width: 680px) {
    .btnMenu {
        font-size: 25px;
    }
    #title {
        font-size: 180%;
    }
    #rightbox {
        font-size: 20px;
        padding-left: 5px;
    }
    #contactinfo {
        width: 100%;
        font-size: 20px;
    }
    #contactform {
        width: 100%;
        font-size: 20px;
    }
    input {
        font-size: 11px;
    }
    #contactBtn {
        font-size: 20px;
    }
    #contactTitle {
        font-size: 30px;
    }
}

@media screen and (min-width: 681px) and (max-width: 847px) {
    #title {
        font-size: 250%;
    }
    #rightbox {
        font-size: 23px;
        padding-left: 5px;
    }
    #contactinfo {
        width: 100%;
        font-size: 23px;
    }
    #contactform {
        width: 100%;
        font-size: 23px;
    }
    input {
        font-size: 15px;
    }
    #contactBtn {
        font-size: 23px;
    }
    #contactTitle {
        font-size: 30px;
    }
}