<div id="wrapContent">

    <img id="therapypic" src="images/dont.jpg"  style="border: 5px solid #440202; border-radius: 20%;"
        alt="Judith Tolman">
    <h2>A Step by Step Process</h2>
    <p id="mainp">Choosing to seek therapy can be a difficult and stressful decision, and one that takes personal strength
        and courage. The secret of making progress is getting started. Let’s Work Together to begin the healing
        process and Strengthen the Individual and Family.</p>
    <h2>Let's Work Together</h2>
    <p id="mainp">One of the largest indicators of success is the relationship you have with your therapist. I have a warm
        and approachable style and strive to bring energy and a personal touch to the treatment process. Helen
        Keller said, “Alone we can do so little; together we can do so much.” Working together we can heal
        emotional wounds, build on strengths, and help your true and authentic self emerge.
    </p>
    <h2>Strengthening the Individual & Family</h2>
    <p id="mainp">As a Cognitive and Behavioral therapist, I provide a setting where important life questions can be 
        explored. I strongly believe in the potential of personal growth, strong family relationships, and 
        increased happiness and peace.</p>
    <h2>Proffesional Links</h2>
    <table width="100%">
        <tr>
            <td><a href="https://npidb.org/doctors/behavioral_health/mental-health_101ym0800x/1801171681.aspx"
                    target="blank" style=" 
                                text-decoration: none;"><img src="images/npidb.png" border="0"></a></td>
            <td><a href="https://www.linkedin.com/in/judith-tolman-95470522" target="blank"
                    style=" text-decoration: none;"><img src="images/linkedinlogo.jpg" width="200px" border="0"></a>
            </td>
            <td><a href="https://www.healthgrades.com/provider/judith-tolman-3wbhp" target="blank"
                    style=" text-decoration: none;">
                    <img src="images/healthgrade.png" width="200px" border="0"></a></td>
        </tr>
    </table>
</div>